Django==1.5
Fabric==1.5.1
Unipath==0.2.1
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
boto==2.6.0
celery==3.0.12
celerymon==1.0.3
distribute==0.6.24
dj-database-url==0.2.1
django-celery==3.0.11
django-ping==0.2.0
django-registration==0.8
django-secure==0.1.2
django-sse==0.4.1
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.16.1
honcho==0.2.0
kombu==2.5.3
newrelic==1.10.2.38
paramiko==1.9.0
psycopg2==2.4.5
pycrypto==2.6
python-dateutil==1.5
pytz==2012h
redis==2.7.2
sse==1.2
wsgiref==0.1.2
